<div class="main-container">
  <div class="container">
    <!--Navigation Bar-->
    <section id="home-taskbar" class="w-full flex flex-col min-h-screen p-8">

      <div class="w-full flex space-x-4 mb-8">
        <a href="" class="text-4xl hover:text-gray-500">GooderReads</a>
        <a href="" class="font-sans text-3xl hover:text-gray-500">Disover</a>
        <a href="" class="font-sans text-3xl hover:text-gray-500">My Read</a>
        <a href="" class="font-sans text-3xl hover:text-gray-500">Book Club</a>

      </div>
    
    <!--Homepage Items-->
      <div class="w-full flex items-center space-x-8 mb-8">
          <h1 class="font-sans font-bold text-2xl">Dev Selected Book</h1>
          <h2 class="font-sans font-bold text-2xl">Featured</h2>
      </div>

    </section>
  </div>
</div>